USE [master]
GO
/****** Object:  Database [Albom]    Script Date: 26.04.2016 20:18:04 ******/
CREATE DATABASE [Albom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Albom', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Albom.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Albom_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Albom_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Albom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Albom]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 26.04.2016 20:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [uniqueidentifier] NOT NULL,
	[IdPhoto] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photos]    Script Date: 26.04.2016 20:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Photos](
	[IDPhoto] [uniqueidentifier] NOT NULL,
	[IDUser] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[MymeType] [nvarchar](30) NOT NULL,
	[File] [varbinary](max) NOT NULL,
	[Rating] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subs]    Script Date: 26.04.2016 20:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subs](
	[IDUserFirst] [uniqueidentifier] NOT NULL,
	[IDUserSecond] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.04.2016 20:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Avatar] [varbinary](max) NOT NULL,
	[Mimetype] [nvarchar](30) NOT NULL,
	[Id] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
