@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cite.css" rel="stylesheet" />
</head>
<body class="body-background">
    <header class="grey-navbar">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a data-toggle="tab" href="#panel2" class="navbar-brand">#IBS_Album</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a data-toggle="tab" href="#panel1">Новостная лента</a></li>
                        <li><a data-toggle="tab" href="#panel2">Профиль</a></li>
                        <li><a data-toggle="tab" href="#panel3">Подписки</a></li>
                        <li><a data-toggle="tab" href="#panel4">Избранное</a></li>
                        <li><a data-toggle="tab" href="#panel5">Настройки</a></li>
                        <li class="pull-right"><a data-toggle="modal" href="#login">Вход</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>

    <div class="container-fluid after-nav-margin">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="block border-divider">
                <div class="tab-content">
                    <div id="panel1" class="tab-pane fade in active">
                        <br />
                        <div class="row">
                            <!--начало строки-->
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                        </div> <!--конец строки-->
                        <div class="row">
                            <!--начало строки-->
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                        </div> <!--конец строки-->

                        <div class="row">
                            <!--начало строки-->
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                        </div> <!--конец строки-->
                    </div>

                    <!--ДАННЫЕ ПРОФИЛЯ!!!-->
                    <div id="panel2" class="tab-pane">
                        <br />
                        <div class="row">
                            <a href="#ModalBox" class="col-xs-6" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <div class="col-xs-6">
                                <h2 class="beauty-margin">Вася Пупкин</h2>
                            </div>
                        </div>
                        <hr />
                        <!--фотографии пользователя-->
                        <div class="container-fluid">
                            <div class="row">
                                <!--начало строки-->
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                            </div> <!--конец строки-->
                            <div class="row">
                                <!--начало строки-->
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                                <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                    <div class="cover">
                                        <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                    </div>
                                </a>
                            </div> <!--конец строки-->
                        </div>
                    </div>

                    <!--Список подписок-->
                    <div id="panel3" class="tab-pane">
                        <label>Список Ваших подписок</label>
                        <table class="table">
                            <tr>
                                <td>
                                    <label>Ваномас</label>
                                </td>
                                <td>
                                    <a href="#" class="alert">Отписаться</a> \
                                    <a href="#" class="alert">Просмотреть профиль</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Рома Жёлудь</label>
                                </td>
                                <td>
                                    <a href="#" class="alert">Отписаться</a> \
                                    <a href="#" class="alert">Просмотреть профиль</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Никита</label>
                                </td>
                                <td>
                                    <a href="#" class="alert">Отписаться</a> \
                                    <a href="#" class="alert">Просмотреть профиль</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Ваномас 2</label>
                                </td>
                                <td>
                                    <a href="#" class="alert">Отписаться</a> \
                                    <a href="#" class="alert">Просмотреть профиль</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Ваномас_X7</label>
                                </td>
                                <td>
                                    <a href="#" class="alert">Отписаться</a> \
                                    <a href="#" class="alert">Просмотреть профиль</a>
                                </td>
                            </tr>
                        </table>

                    </div>

                    <!--избранное, а именно лайкнутые тобой посты!!-->
                    <div id="panel4" class="tab-pane">
                        <div class="row">
                            <h3 class="text-muted text-center">То, что Вы оценили!</h3>
                            <hr />
                        </div>
                        <div class="row">
                            <!--начало строки-->
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                            <a href="#ModalBox" class="col-xs-4" data-toggle="modal">
                                <div class="cover">
                                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                                </div>
                            </a>
                        </div> <!--конец строки-->
                    </div>

                    <!--Настройки профиля-->
                    <div id="panel5" class="tab-pane">
                        <!--Изменение password'a-->
                        <div class="row">
                            <label class="col-xs-12 name">Изменение пароля</label>
                            <hr />
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <label class="pull-right">Старый пароль:</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text">
                                    </div>
                                </div>
                                <br />
                                <div class="row mail">
                                    <div class="col-xs-5">
                                        <label class="pull-right">Новый пароль:</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text">
                                    </div>
                                </div>
                                <br />
                                <div class="row mail">
                                    <div class="col-xs-5">
                                        <label class="pull-right">Повторите пароль:</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="text">
                                    </div>
                                </div>
                                <br />
                                <div class="row mail">
                                    <div class="col-xs-4 col-xs-offset-5">
                                        <a class="btn btn-default">Изменить пароль</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />

                        <!--смена аввтара профиля-->
                        <div class="row">
                            <label class="col-xs-12 name">Аватар</label>
                            <div class="col-xs-5">
                                <img src="~/Content/Photoes/12f0a18c.jpg" class="img-rounded pull-right img-thumbnail" />
                            </div>
                            <div class="col-xs-4 col-xs-offset-0">
                                <input class="change-photo" type="file" />
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal previev-->
    <div id="ModalBox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Заголовок модального окна</h4>
                </div>
                <div class="modal-body">
                    <img class="img-thumbnail center-block" src="~/Content/Photoes/12f0a18c.jpg" />
                    <div>
                        <hr />
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="text-danger">1488</div> <!--Likes-->
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-default">Like</button> <!--Like BTN-->
                        </div>
                        <div class="col-xs-2">
                            <a href="Author" class="text-info" data-toggle="modal">Erdogan</a> <!--Author modal-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>


    <!--login form-->
    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Вход в систему:</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="label-default">Введите имя</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="text" name="Login" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="label-default">Введите пароль</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="text" name="Password" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <label class="label-info">Вы ещё не с нами?</label>
                        <a href="#Registration" data-dissmiss="modal">Зарегистрироваться</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!--registration form-->
    <div id="Registration" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Создание нового аккаунта:</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="label-default">Введите имя</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="text" name="Login" />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-5">
                            <label class="label-default">Введите пароль</label>
                        </div>
                        <div class="col-xs-7">
                            <input type="text" name="Password" />
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="panel-footer navbar-fixed-bottom">
        2016 IBS-22
    </footer>
    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/main.js"></script>

</body>
</html>
